<% content_for :title do %>About<% end %>
<h3>About Voice for Women Forum</h3>
<p>This site is to address the problems Indian women face at working place. It tries to act as a bridge between woman(who face problem) with people
who can find solution to their problems.</p>
<p>We also curate a list of legislations, and powers that can be used to support the causes</p>
